<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>input-plus-minus</title>
    <style>
        .container{
            max-width: 920px;
            margin: 0 auto;
        }
        .Element{
            margin-bottom: 40px;
            display: block;
        }
    </style>
    <script src="../node_modules/custom-event-polyfill/polyfill.js"></script>
    <script src="../node_modules/classlist-polyfill/src/index.js"></script>
    <script src="../node_modules/inputmask/dist/inputmask/dependencyLibs/inputmask.dependencyLib.js"></script>
    <script src="../node_modules/inputmask/dist/inputmask/inputmask.js"></script>
    <script src="../node_modules/inputmask/dist/inputmask/inputmask.extensions.js"></script>
    <script src="../node_modules/inputmask/dist/inputmask/inputmask.numeric.extensions.js"></script>
</head>
<body>
    <div class="container">
        <div class="Element">
            <label for="first">First</label>
            <input type="text" class="Element-Input" name="first" id="first" />
        </div>
        <div class="Element">
            <label for="second">Second</label>
            <input type="text" class="Element-Input" name="second" id="second" value="0" />
        </div>
        <div class="Element">
            <label for="third">Third</label>
            <input type="text" class="Element-Input" name="third" id="third" value="200000" />
        </div>
        <div class="Element">
            <label for="el4">4</label>
            <input type="text" class="Element-Input" name="el4" id="el4" />
        </div>
        <div class="Element">
            <label for="el5">el5</label>
            <input type="text" class="Element-Input" name="el5" id="el5" />
        </div>
    </div>
</body>
</html>
