<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>modern-traveling-slider</title>
    <style>
        .container{
            max-width: 920px;
            margin: 0 auto;
        }
        .Element{
            margin-bottom: 40px;
            display: block;
        }
    </style>
    <script src="../node_modules/inputmask/dist/inputmask/dependencyLibs/inputmask.dependencyLib.js"></script>
    <script src="../node_modules/inputmask/dist/inputmask/inputmask.js"></script>
    <script src="../node_modules/inputmask/dist/inputmask/inputmask.numeric.extensions.js"></script>
</head>
<body>
    <div class="container">
        <div class="Element">
            <label for="first">First</label>
            <input type="text" class="Element-Input" name="first" id="first" />
        </div>
        <div class="Element">
            <label for="second">Second</label>
            <input type="text" class="Element-Input" name="first" id="second" value="0" />
        </div>
    </div>
</body>
</html>
