.InputPlusMinus{
  position: relative;
  display: inline-block;
  vertical-align: top;
  &-Element{
    text-align: center;
  }
  &-Grid{
    position: absolute;
    width: 100%;
    font-size: 10px;
    line-height: 16px;
    color: gray;
  }
  &-GridElement{
    position: absolute;
    top: 0;
  }
  &-GridElement_min{
    left: 0;
  }
  &-GridElement_max{
    right: 0;
  }
}
